.search-filter-container {
  display: flex;
  align-items: center;
}

.search-filter {
  margin: 10px;
}

.type-filter label {
  width: 100px;
}

.movie-card {
  border: 4px solid #ccc;
  margin: 10px;
  width: 162px;
  height: 239px;
}

.movie-card.selected {
  border: 4px solid #0015ff;
}

.movie-title {
  font-weight: bold;
  margin: 0 4px 5px 4px;
}

.movie-poster {
  width: 154px;
  height: 231px;
}

.no-poster {
  width: 154px;
  height: 231px;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  word-wrap: break-word;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
}
