.search-filter-container {
  display: flex;
  flex-wrap: wrap;
}

.search-filter {
  margin: 10px;
}

.type-filter label {
  width: 100px;
}

.sort-by label {
  white-space: nowrap;
}

.genres-filter {
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 100%;
  gap: 2px;
}

.movie-card {
  border: 4px solid #ffffff;
  width: 100px;
  height: 146px;
  border-radius: 4px;
}

.movie-card.selected {
  border: 4px solid rgb(13, 110, 253);
}

.movie-title {
  font-weight: bold;
  margin: 0 4px 5px 4px;
}

.movie-poster {
  width: 92px;
  height: 138px;
}

.no-poster {
  width: 92px;
  height: 138px;
  font-size: small;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  word-wrap: break-word;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

.movie-list-pagination {
  margin: 10px;
}

.movie-details {
  margin: 10px;
}

.movie-details-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border: 1px solid #ccc;
  border-radius: 10px 0 0 10px;
}

.movie-details-info {
  flex: 1;
  padding: 20px;
}

.movie-details-poster {
  margin: -1px;
}

.genre-badge {
  margin-right: 4px;
}